<div>
  humanize-compact-number helper: {{humanize-compact-number 1000000}}
</div>
<div>
  humanize-number helper: {{humanize-number 1000000}}
</div>
<div>
  humanize-ordinal-number helper: {{humanize-ordinal-number 1332}}
</div>